footer{
    background-color: lighten($cBlack, 20%);
    padding: 30px;

        & p, a{
            font-family: 'Shrikhand';
            color: $cWhite;
        }

        & .texte p, a{
            margin-top: 10px;
            font-family: 'RobotoR';
            font-size: 12px;
            font-weight: bold;

                & i{
                    margin-right: 15px;
                    width: 10px;
                    
                }       
        }
    
    @include tablette-only{
    padding: 30px 100px 30px 100px;
    display: flex;
    flex-direction: column-reverse;
        & .texte{
            display: flex;
            flex-wrap: wrap;
            height: 80%;
            width: 100%;
            justify-content: center;
                & p{
                    margin-right: 30px;
                }
        }
        & .footer__title{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }        
}
