@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand.ttf");
}
@font-face {
  font-family: "RobotoL";
  src: url("RobotoL.ttf");
}
@font-face {
  font-family: "RobotoR";
  src: url("RobotoR.ttf");
}
@keyframes animHeart {
  from {
    opacity: 0;
    display: none;
    background: linear-gradient(70deg, #FF79DA 0%, #9356DC 40%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    opacity: 1;
    background: linear-gradient(70deg, #FF79DA 0%, #9356DC 40%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    opacity: 1;
    background: linear-gradient(70deg, #FF79DA 40%, #9356DC 60%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes testmargin {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes rotateI {
  from {
    width: 0;
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
    width: 40px;
  }
}
p {
  font-family: "RobotoR", sans-serif;
  font-size: 17px;
  color: #666666;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-family: "RobotoR", sans-serif;
}

h3 {
  font-family: "RobotoR", sans-serif;
  font-size: 17px;
}

a {
  color: unset;
  text-decoration: unset;
}

.heartabso {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20%;
}

.labelHeart {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
@media screen and (min-width: 1224px) {
  .labelHeart:hover {
    animation: 0.3s animHeart forwards;
  }
}

.checkHeart {
  display: none;
}

.checkHeart:checked + .labelHeart {
  animation: 1s animHeart forwards;
}

.emptyHeart {
  display: flex;
  position: absolute;
  font-size: 27px;
  z-index: 0;
}

.newAbso {
  position: absolute;
  height: 28px;
  width: 85px;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #99E2D0;
  color: #2fa487;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.trait {
  width: 45px;
  margin: 5px 0 0 20px;
  border-top: 4px solid #5dd1b5;
}

.btn {
  background: rgb(2, 0, 36);
  background: linear-gradient(172deg, rgb(2, 0, 36) 0%, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 56%);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 80px;
  padding: 14px 25px 14px 25px;
  margin-top: 10px;
  font-family: "RobotoR";
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (min-width: 599px) {
  .btn {
    padding: 17px 40px 17px 40px;
    font-size: 20px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header__top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
  box-shadow: 0px 1px 8px -3px #000000;
  z-index: 5;
}

.imgResto {
  height: 250px;
  width: 100%;
  z-index: -1;
}
.imgResto img {
  height: 100%;
  width: 100%;
}

.bigMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -50px;
  border-radius: 25px 25px 0 0;
  background-color: #e6e6e6;
}
.bigMenu__top {
  display: flex;
  width: 100%;
  padding: 20px 20px 10px 20px;
}
.bigMenu__top h1 {
  width: 80%;
  font-size: 28px;
}
.bigMenu__top .heartabso {
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.menu {
  margin-top: 20px;
}
.menu .menuName {
  padding: 0 20px 0 20px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}
.menuBox__item {
  height: 70px;
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: #d9d9d9 0px 10px 20px, #d9d9d9 0px 6px 6px;
}
.menuBox__item__tag {
  padding: 15px;
  width: 90%;
}
.menuBox__item__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
}

.itemSelect {
  background-color: salmon;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  border-radius: 0 8px 8px 0;
}

.active {
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active:checked + .activeLabel {
  animation: testmargin 1s forwards;
}
.active:checked + .activeLabel .check {
  animation: rotateI 0.8s forwards;
}

.activeLabel {
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  width: 0;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #333333;
  padding: 30px;
}
footer p {
  font-family: "Shrikhand";
  color: #fff;
}
footer .texte p {
  margin-top: 10px;
  font-family: "RobotoR";
  font-size: 12px;
  font-weight: bold;
}
footer .texte p i {
  margin-right: 15px;
  width: 10px;
}
@media screen and (min-width: 599px) {
  footer {
    padding: 30px 100px 30px 100px;
    display: flex;
    flex-direction: column-reverse;
  }
  footer .texte {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 60%;
  }
  footer .texte p {
    margin-right: 30px;
  }
  footer .footer__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  footer .texte {
    width: 100%;
    justify-content: center;
  }
}

/*# sourceMappingURL=styleResto.css.map */
