.heartabso{
    
    position: relative;
    display: flex;
    justify-content: center;
    // background-color: blueviolet;
    
    
}
.labelHeart{
    background-color: $cWhite;
    width: 100%;
    
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: bold;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    @include desktop-only{
        &:hover{

            animation: 0.3s animHeart forwards;
            
        }
    }
    
}
.checkHeart{
    display: none;
    
}
.checkHeart:checked + .labelHeart{
    animation: 1s animHeart forwards;
        
    
}
.emptyHeart{
    display: flex;
    position: absolute;
    font-size: 27px;
    z-index: 0;
    
    
    
    

}









.newAbso{
    position: absolute;
    height: 28px;
    width: 85px;
    top: 15px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 33%);
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.5px;
    @include shadow;
}








.trait{
    width: 45px;
    margin: 5px 0 0 20px ;
    border-top: 4px solid darken($color-tertiary, 15%);
}










.itemSelect{
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 0px;
    border-radius: 0 8px 8px 0;
    
}
.active{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;      
}
.active:checked + .activeLabel{
    animation: testmargin 1s forwards;
        & .check{
            animation: rotateI 0.8s forwards;
        }
}

@include desktop-only{

    .active:hover + .activeLabel{
        animation: testmargin 1s forwards;
            
            & .check{
                animation: rotateI 0.8s forwards;
            }
    }
}
.activeLabel{
    height: 100%;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    width: 0;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
}