@font-face {
    font-family: 'Shrikhand';
    src: url('Shrikhand.ttf');
}
@font-face {
    font-family: 'RobotoL';
    src: url('RobotoL.ttf');
}
@font-face {
    font-family: 'RobotoR';
    src: url('RobotoR.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//KEYFRAME + CSS LOADING SCREEN ACCUEIL + apparition menu
@keyframes apparition{
    
    from{
        transform: translate(0, 320px);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes loading {
    
    0%{
        opacity: 1;
        
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loadingBar {
    
    from{
        transform: scaleX(0);
    }

    to{
        transform: scaleX(1);
    }
}

// CSS LOADING SCREEN
#loadingScreen{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 80;

    opacity:  0.9;
    animation: loading 3s forwards ease-in-out;
    top: 0;
    left: 0;
        & img{
            height: 30%;
            width: 50%;
            @include tablette-only{
                width: 40%;
            }
            @include desktop-only{
                width: 16%;
            }
        }
}

.progress{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    border: 5px solid darken($cGrisHard, 10%);

    &__bar{
        background-color: $color-tertiary;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        transform: scaleX(0);
        
        transform-origin: 0%;
        animation: loadingBar 2s forwards ;
        
    }
}



//ANIMATION COEUR  l1(components/form/FORME COEUR)
@keyframes animHeart{
    from{
        opacity: 0;
        display: none;
        background: linear-gradient(70deg,$color-secondary 0%,$color-primary 40%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
    70%{
        opacity: 1;
        background: linear-gradient(70deg,$color-secondary 0%,$color-primary 40%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }
    to{
        opacity: 1;
        background: linear-gradient(70deg,$color-secondary 40%,$color-primary 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
}
}


//ANIMATION SELECTION l73(base/base/SELECTION RESTO MENU)
@keyframes testmargin{
    from{
       width: 0; 
    }

    to{
      width: 70px;  
    }
}

@keyframes rotateI{
    from{
        width: 0;
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
        width: 28px;
    }
}







