@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@mixin shadowTitle{
    box-shadow: 0px 1px 8px -3px #000000;
}
@mixin shadowIntroInset{
    box-shadow: inset 0px -4px 5px -1px $cGrisMed;
}
@mixin shadowBoxResto{
    box-shadow: $cGrisMed 0px 10px 20px, $cGrisMed 0px 6px 6px;;
}

@mixin paddingSection {

    padding: 20px;
    margin-top: 30px;
    
}

@mixin btn{
    
    background: rgb(2,0,36);
    background: linear-gradient(172deg, rgba(2,0,36,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 56%);
    cursor: pointer;
    color: $cWhite;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 80px;
    padding: 14px 25px 14px 25px;
    margin-top: 10px;
    font-family: 'RobotoR';
    font-size: 15px;
    @include shadow;
    @include tablette-only{
        padding: 17px 40px 17px 40px;
        font-size: 20px;
    }
}

@mixin tablette-only{
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        @content;
    }
}

@mixin desktop-only{
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        @content;
    }
}



