$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$cWhite: #fff;
$cBlack: black;
$cGrisSoft: darken($cWhite, 10%);
$cGrisMed: darken($cWhite, 15%);
$cGrisHard: darken($cWhite, 60%);