@font-face {
    font-family: 'Shrikhand';
    src: url('Shrikhand.ttf');
}
@font-face {
    font-family: 'RobotoL';
    src: url('RobotoL.ttf');
}
@font-face {
    font-family: 'RobotoR';
    src: url('RobotoR.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
    // background-color: hotpink;
    @include paddingSection;
}