@font-face {
    font-family: 'Shrikhand';
    src: url('Shrikhand.ttf');
}
@font-face {
    font-family: 'RobotoL';
    src: url('RobotoL.ttf');
}
@font-face {
    font-family: 'RobotoR';
    src: url('RobotoR.ttf');
}
@keyframes animHeart{
    from{
        opacity: 0;
        display: none;
        background: linear-gradient(70deg,$color-secondary 0%,$color-primary 40%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
    70%{
        opacity: 1;
        background: linear-gradient(70deg,$color-secondary 0%,$color-primary 40%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }
    to{
        opacity: 1;
        background: linear-gradient(70deg,$color-secondary 40%,$color-primary 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes testmargin{
    from{
       width: 0; 
    }

    to{
      width: 70px;  
    }
}

@keyframes rotateI{
    from{
        width: 0;
        transform: rotate(0);
    }
    
    to{
        transform: rotate(1turn);
        width: 40px;
    }
}

@keyframes apparition{
    
    from{
        transform: translate(0, 320px);
        
    }

    

    to{
        
        transform: translate(0, 0);
        
        
    }
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




