p{
    font-family: 'RobotoR', sans-serif;
    font-size: 17px;
    color: $cGrisHard;
}

h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h2{
    font-family: 'RobotoR', sans-serif;
}
h3{
    font-family: 'RobotoR', sans-serif;
    font-size: 17px;
}

.fa-regular{
    
    display: flex;
}